.carousel-item {
    text-align: center;
}

.carousel-control-prev, .carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
}

.carousel-item img {
    border-radius: 50%;
    width: 200px; 
    height: 200px; 
    object-fit: cover;
}

.sr-only {
  color: #000;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    color: #000;
}